<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" asp-controller="DIW" asp-action="Index">
            <i class="nav-icon fas fa-tachometer-alt"></i> Tableau de bord
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" asp-controller="DIW" asp-action="_Editer">
            <i class="nav-icon fas fa-edit"></i> Declarations
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="DIW" asp-action="Profile">
            <i class="nav-icon fas fa-user"></i> Profile
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Access" asp-action="LogOut"><i class="fas fa-sign-out-alt fa-fw me-2"></i> Se déconnecter</a>
    </li>
</ul>