<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" asp-controller="DRI" asp-action="Index">
            <i class="nav-icon fas fa-tachometer-alt"></i> Tableau de bord
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="DRI" asp-action="SaisieIndicateurs">
            <i class="nav-icon fas fa-file-signature"></i> Mes Declarations DRI
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="DRI" asp-action="Indicateurs">
            <i class="nav-icon fas fa-table"></i> Declarations DIW
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="DRI" asp-action="DIWs">
            <i class="nav-icon fas fa-building"></i> My DIWs
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="DRI" asp-action="AnalyseOperationnelle">
            <i class="nav-icon fas fa-chart-line"></i> Analyse Opérationnelle
        </a>
    </li>
    <li class="nav-item">

        <a class="nav-link" asp-controller="DRI" asp-action="Profile">
            <i class="nav-icon fas fa-building"></i> Profile
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Access" asp-action="LogOut"><i class="fas fa-sign-out-alt fa-fw me-2"></i> Se déconnecter</a>
    </li>
</ul>