@model Stat.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Changer le mot de passe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">@TempData["SuccessMessage"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
                    }
                    <form asp-action="ChangePassword">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="OldPassword" class="form-control" />
                            <label asp-for="OldPassword"></label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="NewPassword" class="form-control" />
                            <label asp-for="NewPassword"></label>
                            <div class="form-text">
                                Doit contenir 9+ caractères, une majuscule, un chiffre, et un symbole (@@*#%&£=+$).
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <label asp-for="ConfirmPassword"></label>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Mettre à jour</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>